<script>
page=0;

selectedfeed="/feed/defaultfeed";

feedcategory="";
feedregion="";
feedlanguage="";
function addFilter(){
return "?feed[category]="+feedcategory+"&"+"feed[region]="+feedregion+"&"+"feed[language]="+feedlanguage;
}
function reload(){
document.getElementById("iframe").src=selectedfeed+addFilter()+"&page="+page;
}

function changeLanguage(){
page=0;
selectb=document.getElementById("language");
feedlanguage=selectb.options[selectb.selectedIndex].value;
reload();
document.getElementById("thispage").innerHTML=page;
}

function showhide(show_id,hide_id,newdisplay){
document.getElementById(show_id).style.display=newdisplay;
document.getElementById(hide_id).style.display="none";
return false;
}

function changeRegion(){
page=0;
selectb=document.getElementById("region");
feedregion=selectb.options[selectb.selectedIndex].value;
reload();
document.getElementById("thispage").innerHTML=page;
}


function changeCategory(){
page=0;
selectb=document.getElementById("category");
feedcategory=selectb.options[selectb.selectedIndex].value;
reload();
document.getElementById("thispage").innerHTML=page;
}


function defaultf(){
page=0;
selectedfeed="/feed/defaultfeed"
reload();
document.getElementById("default").className="btn activeItem"
document.getElementById("best").className="btn"
document.getElementById("trending").className="btn"
document.getElementById("newest").className="btn"
document.getElementById("thispage").innerHTML=page;
return false;
}

function best(){
page=0;
selectedfeed="/feed/best";
reload();
document.getElementById("best").className="btn activeItem"
document.getElementById("default").className="btn"
document.getElementById("trending").className="btn"
document.getElementById("newest").className="btn"
document.getElementById("following").className="btn"
document.getElementById("thispage").innerHTML=page;
return false;
}
function trending(){
page=0;
selectedfeed="/feed/trending";
reload();
document.getElementById("trending").className="btn activeItem"
document.getElementById("best").className="btn"
document.getElementById("default").className="btn"
document.getElementById("newest").className="btn"
document.getElementById("following").className="btn"
document.getElementById("thispage").innerHTML=page;
return false;
}
function following(){
page=0;
selectedfeed="/feed/following";
reload();
document.getElementById("following").className="btn activeItem"
document.getElementById("best").className="btn"
document.getElementById("default").className="btn"
document.getElementById("newest").className="btn"
document.getElementById("trending").className="btn"
document.getElementById("thispage").innerHTML=page;
return false;
}

function newest(){
page=0;
selectedfeed="/feed/newest";
reload();
document.getElementById("newest").className="btn activeItem"
document.getElementById("best").className="btn"
document.getElementById("trending").className="btn"
document.getElementById("default").className="btn"
document.getElementById("following").className="btn"
document.getElementById("thispage").innerHTML=page;
return false;
}

function nextpage(){
page++;
reload();
document.getElementById("thispage").innerHTML=page;
return false;
}

function prevpage(){
if(page>0){
page--;
reload();
document.getElementById("thispage").innerHTML=page;
}
return false;
}
</script>

<div class="news">
				<div id="button_filter" class="btn"><button onclick="showhide('div_filter','button_filter','inline-block')">Filter</button></div>
				<div id="div_filter" style="display:none;">
				<div class="btn activeItem" id="default"  onClick="return defaultf()">Default</div>
				<div class="btn" id="best"  onClick="return best()">Best</div>
				<div class="btn" id="trending" onClick="return trending()">Trending</div>
				<div class="btn" id="newest" onClick="return newest()">Newest</div>
				<div class="btn" id="following" onClick="return following()">Following</div>
				<div style="display:inline-block; margin-top: 9px; margin-left: 10px;">
				<select id="region" onchange="changeRegion()"><option selected=true value="">Region (World)</option>
				<%Region.all.each do |r|%>
				<option value="<%=r.id%>"><%=r.name%></option>
				<%end%>
				</select>
				</div>
				
				<div  style="display:inline-block; margin-top: 9px; margin-left: 10px;">
				<select id="category" onchange="changeCategory()"><option selected=true value="">Category (all)</option>
				<%Category.all.each do |r|%>
				<option value="<%=r.id%>"><%=r.name%></option>
				<%end%>
				</select>
				</div>				

                </div>
				
				<a href="/article/write" class="write-article">Write article</a>
			</div>


<iframe name="" style="border:none;" src="/feed/defaultfeed?page=0" frameborder="0" scrolling="no" width="100%" id="iframe" height="2500px" onload='javascript:resizeIframe(this);'/>
</iframe>


<div class="pages-links">Browse pages: <a class="paging" href="#" onclick="return prevpage();">Previous</a>, <span id="thispage">0</span>, <a class="paging" href="#" onclick="return nextpage();">Next</a></div>

