
<div class="sign-up">

				<div class="alert-continue"><%=notice%> <%=alert%><br><br></div>

					<p class="title">Log in</p><br>

              <%= form_for(:user, :url => session_path(:user)) do |f| %>
					<input type="email" name="user[email]"  class="inputs" placeholder="e-mail">
					<input type="password" name="user[password]" class="inputs" placeholder="password">
					<br>
					<br>
					<span class="subtitle"><input class="checkbox" type="checkbox" name="user_remember_me" value="1">Remember me</span>
					<br>
					<input class="btn" type="submit" value="Login"><br>
				<%end%><p class="subtitle">or<br><br></p>
					<a class="btn-facebook" type="submit" name="Sign up" href="<%=user_omniauth_authorize_path(:facebook)%>">Log in with facebook</a><br>
					<div class="separator"></div>
					
					<p class="subtitle">Not a member of tordate? <a class="register" href="/users/sign_up">Sign up</a> now!<br></p>
</div>



